.header {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}

/* Nav */

.nav {
    background: #f5f5f5;
    width: 100%;
    transition: 0.4s;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo img {
    width: 360px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__list li {
    margin: 0 15px;
}

.nav__btn {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.nav__btn:hover {
    color: var(--basePink);
}

.nav__btnIcon {
    font-size: 20px;
    margin-right: 5px;
}

.nav__btnLink {
    outline: none;
    border: 2px solid transparent;
    background: var(--basePink);
    padding: 15px 30px;
    border-radius: 75px;
    transition: 0.2s;
    font-size: 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav__btnLink:hover {
    background: transparent;
    border: 2px solid var(--basePink);
}

/* Header Content */

.headerContent {
    margin-top: 80px;
}

.headerContent__container {
    display: flex;
    justify-content: space-around;
}


.headerContent__info {
    display: flex;
    flex-direction: column;
}

.headerContent__img {
    object-fit: contain;
}

.headerContent__info p {
    font-size: 40px;
    color: var(--baseBlack);
}

.headerContent__info h2 {
    text-transform: uppercase;
    font-size: 60px;
    color: var(--baseBlack);
    width: 30vw;
}

.headerContent__btn {
    font-size: 25px;
    margin-top: auto;
    width: fit-content;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 300;
    background-position: center;
    transition: background 1s;
    border: none;
}

.headerContent__btn:hover {
    border: none;
    background: #e2315d radial-gradient(circle, transparent 1%, #e31145 1%) center/15000%;
}


.headerContent__btn:active {
    background-color: var(--basePink);
    background-size: 100%;
    transition: background 0s;
}