:root {
    --basePink: #e31145;
    --baseBlack: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif !important;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.nav__scroll {
    padding: 15px 0;
    top: 0;
    position: fixed;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#loader {
    animation-name: fadeouter;
    animation-duration: 500ms;
    animation-delay: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeouter {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}